version: '3.1'

services:

  wordpress:
    image: wordpress
    ports:
      - 9999:80
    environment:
      WORDPRESS_DB_PASSWORD: password
    volumes:
      - ./:/var/www/html/wp-content/plugins/building-blocks
      - ./wp-content:/var/www/html/wp-content

  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password
